version: '3.7'

services:
  api:
    build: 
      context: ./
      args: 
        CI: ENABLED
    entrypoint: bash run.sh
    restart: unless-stopped
    user: root
    volumes:
    - ./:/fyle-intacct-api
    depends_on:
    - db
    - rabbitmq
    environment: 
      SECRET_KEY: thisisthedjangosecretkey
      ALLOWED_HOSTS: "*"
      DEBUG: "False"
      NO_WORKERS: 1
      API_URL: ${API_URL}
      DATABASE_URL: postgres://postgres:postgres@db:5432/intacct_db
      DB_HOST: db
      BRAND_ID: fyle
      FYLE_BASE_URL: 'https://sample.fyle.tech'
      FYLE_CLIENT_ID: 'sample'
      FYLE_CLIENT_SECRET: 'sample'
      FYLE_REFRESH_TOKEN: 'sample.sample.sample'
      SI_SENDER_PASSWORD: 'sample'
      SI_SENDER_ID: 'sample'
      INTACCT_CLIENT_ID: 'sample_client_id'
      INTACCT_CLIENT_SECRET: 'sample_client_secret'
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      INTEGRATIONS_SETTINGS_API: http://localhost:8006/api
      FYLE_TOKEN_URI: 'https://sample.fyle.tech'
      FYLE_SERVER_URL: 'https://sample.fyle.tech'
      FYLE_JOBS_URL: 'https://sample.fyle.tech'
      HELP_ARTICLE_DOMAIN: 'https://www.fylehq.com/help'
      RABBITMQ_URL: amqp://admin:password@rabbitmq:5673/?heartbeat=0
      STRICT_MODE: "false"
  rabbitmq:
     image: rabbitmq:3.8.9-management-alpine
     environment:
       - RABBITMQ_DEFAULT_USER=admin
       - RABBITMQ_DEFAULT_PASS=password
     ports:
       - '5673:5673'
     volumes:
       - rabbitmq-data:/data/
  db:
    image: "postgres:15"
    environment: 
      POSTGRES_DB: dummy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./tests/sql_fixtures/reset_db_fixtures/reset_db.sql:/docker-entrypoint-initdb.d/reset_db.sql
volumes:
  api:
  rabbitmq-data:
